<section id="about">
    <div class="container">
        <div class="row">
	    <div class="col-lg-3  text-center">
                <div class="service-box team">
                    <img id="profile-photo" src="img/idan.jpeg" class="img-responsive img-circle" alt="">
                    <h1 class="title">{{ site.owner }}</h1>
		    <h2 class="sub-title">{{ site.description }}</h2>
		    <br>
                    <h3 class="fancy"><span>Contact Me</span></h3>
		    {% include social.html  %}
                </div>
            </div>
		
            <div class="col-lg-7 col-lg-offset-1 col-md-10 col-md-offset-1">
		    <p id="about-txt">Working together with a team of superstars in the fields of A.I. 
			    (Deep Learning, Machine Learning), Software Engineering and Medical Imaging,
			    and under one of the best founding teams of this decade. This company truly feels 
			    like a rocket-ship.
			    <br>
			    We're lucky to build products that literally save human lives on a daily basis.
			    We are building on the most advanced achievements in the field of A.I. 
			    and extending them with unique innovations and well-executed software engineering, 
			    to solve the major challenges unique to the field of Medical Imaging.
	            </p>
               
            </div>
        </div>
    </div>
</section>
