<section id="about">
    <div class="container">
        <div class="row">
	    <div class="col-lg-3 col-lg-offset-1 text-center">
                <div class="service-box team">
                    <img id="profile-photo" src="img/idan.jpeg" class="img-responsive img-circle" alt="">
                    <h1>{{ site.owner }}</h1>
		    <h3>{{ site.whoami }}</h3>
		    <br>
                    <h3 class="fancy"><span>Contact Me</span></h3>
		    {% include social.html  %}
                </div>
            </div>
		
            <div class="col-lg-7 col-md-10 col-md-offset-1">
		    <p id="about-txt">
			More than anything else, I'm excited to arrive at Aidoc every day have the privilege to work with 
			a team of national-level superstars and under one of the best founding teams of the decade. 
			Together we are the driving force behind the company’s ability to solve an unthinkable amount of 
			challenges in the cutting-edge of A.I. and software engineering. This company truly feels like a 
			rocket-ship.
			<br>
			We're lucky to build products that literally save human lives on a daily basis.
			Since joining Aidoc as an algorithm developer and software engineer at 2016, I played a key role in 
			some of the most significant algorithmic breakthroughs. I also played a key role in the architecture and 
			development of many core parts in Aidoc’s unique software infrastructure for deep learning research 
			and data annotation at scale. This infrastructure is the engine that enables Aidoc to cover a completely 
			new body part every 2 months.
			<br>
			I graduated from IDF’s elite “Talpiot” program with highest honors.
			<br>
			In the past, I led several high-risk R&D projects from the stage of a “science-fiction” idea, 
			and into successful strategic products. Two of these products won the “Israel Defense Award” – 
			the highest award for defense projects.
			<br>
			I'm a former special forces team leader and graduated from the combat officers academy with highest honors.
	            </p>
               
            </div>
        </div>
    </div>
</section>
