<a class="no-link" href="https://medium.com/@Idan.Bassuk/building-a-team-for-the-long-term-10cac924d4cf">
  <h3 class="title text-left">Building a team for the long term</h3>
</a>
<br>
<div class="body text-left">
<p><strong>I will look at it as my personal and professional failure if any of my team members will leave Aidoc&rsquo;s A.I. 
  team after less than 5 years.</strong></p>
<p>At the same time, I will be super happy for that team member who found a better place for himself, where he\she will be 
  more satisfied, more challenged, better promoted or compensated.</p>
<p>And when I say &ldquo;5 years&rdquo; I actually mean 20 years, but my experience has taught me it&rsquo;s better to sound 
  realistic so people could connect to what I&rsquo;m saying, and in an industry with a mean-employee-lifetime of 1 year, 
  even 5 years barely sounds realistic.</p>
<p><strong>But &ldquo;5 years&rdquo; is the the best mixture of something that sounds realistic enough to be believable 
  (all of us heard about some rare unicorns who are friends of friends of friends that did it even in companies 
  that don&rsquo;t provide tenure), and unrealistic enough (a stretch goal) to serve as a &ldquo;compass&rdquo; guiding 
  the way &mdash; rather than a concrete number.</strong></p>
<p><strong>The reason this is super-important to me, is that I believe that a place that fulfills this goal &mdash; is a 
  place where people are highly satisfied, motivated, challenged and are developing their career in routes that make them yet 
  again satisfied, motivated and challenged.</strong></p>
<p>To me this makes sense even in the &ldquo;cold&rdquo; business sense (at least for companies like us that build themselves 
  to be long term companies, because it does come with short term costs), and creates the type of magic circle that is 
  exactly what a company needs to continue attracting the best-of-the-best, in their masses. This is the type of company 
  that I would like to work for, and that&rsquo;s why this is what I intend to build.</p>
</div>
