<h3>summary of Professor Robert Floyd's acceptance speech</h3>
<div class="text-muted">
I wrote a summary of Professor Robert Floyd's acceptance speech for his Turing Award (considered the highest award in computer science), based on a really good blog post and skimming through the original text (links to both in the comments).
I found it really interesting, and of course would love to hear your thoughts about it.

In his speech, he chose to speak about the importance of mastering programming paradigms and ensembling them into programming languages and tools.
Some examples of programming paradigms are:
1) Structured Programming - making extensive use of subroutines and block-structures.
2) Object Oriented Programming.
3) Literate Programming - The code is structured as a designed (hypertext) document, when the (designed) documentation is an integral part of the code.

As a generalization - these paradigms are different high level ways to tackle programming problems.

He states that the current state of the art of programming is broken, which reflects in programs which are unreliable, delivered late, unresponsive to change, inefficient, and expensive. It was written in 1978, and was probably improved a lot but I think it's still mostly true. He also states that it's mainly due to the paradigms used by programmers, and the lack of sufficient support for relevant paradigms in programming languages and tools (e.g. IDEs).

In addition, he states that there are two main issues that prevent from many paradigms to be mastered by programmers:
1) "Most texts [and courses] on computer programming imply that the content of programming is the knowledge of the algorithms and language definitions described in their pages". Many times is no explicit discussion and distillation of the underlying paradigms enabled by the language learned.
2) "In computer science, one sees several ... communities, each speaking its own language and using its own paradigms". There is not enough diffusion between people who master different paradigms and furthermore - many times the tools that we use limit our ability to understand or adopt another paradigm even if we hear about it.

He gives two tips for programmers who want to extend their mastery in programming paradigms - 
1) After solving a challenging problem, I solve it again from scratch, retracing only the insight of the earlier solution. I repeat this until the solution is as clean and direct as I can hope for. Then I look for a general rule for attacking similar problems, that would have led me to approach the given problem in the most efficient way the first time. Often, such a rule is of permanent value.
2) ... my message to the serious programmer is to spend a part of your working day examining and refining your own methods. Even though programmers are always struggling to meet some future or past deadline, methodological abstraction is a wise long term investment.
</div>
