<aside id="blog" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog & Talks</h2>
                <hr class="primary">
                <br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                {% include blogPost.html %}
                <a class="btn btn-default" href="#" role="button">Read more of my posts on Medium</a>
            </div>
            <div class="col-md-6">
                {% include videoPost.html %}
                <a class="btn btn-default" href="#" role="button">Watch more of my talks on YouTube</a>
            </div>
        </div>
    </div>
</aside>
