<footer class="container bg-dark">
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fas fa-quote-right"></i>
                <span class="quote">{{ site.quote }}</span>
                <i class="fas fa-quote-left"></i>
                <span class="quote-by">~ {{ site.quote-by }}</span>
            </div>
        </div>
        
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="fancy"><span>Let's Get In Touch :)</span></h3>
               {% include social.html  %}
            </div>
        </div>
</footer>
