<header>
    <div class="overlay"></div>

    <div class="header-content">
        <div class="header-content-inner">
            <h2 id="hello">Hey, I'm</h2>
            <h1 id="name">Idan Bassuk</h1>
            <h3 id="title">Expert Data Scientist</a></h3>
            <br>
        </div>
    </div>

    <h2 class="bottom">
        
        <a href="#about" class="page-scroll">
          <div class="i wow bounceIn">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>          
          </div>
        </a>
    </h2>
</header>
