<footer class="container bg-dark">
    <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center quote">
                <i class="fas fa-quote-left"></i>
                <span>{{ site.quote }}</span>
                <br>
                <span class="quote-by pull-right">{{ site.quote-by }}</span>
            </div>
        </div>
    <br>
    <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h3 class="fancy"><span>Let's Get In Touch</span></h3>
               {% include social.html  %}
            </div>
    </div>
    <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <p>Brand icons <a class="" href="https://fontawesome.com/license">license</a></p>
            </div>
    </div>
</footer>
