<div class="social">
<a href="{{ site.social-linkedin }}" target="_blank">
  <i class="fab fa-linkedin-in wow bounceIn"></i>
</a>

<a href="{{ site.social-facebook }}" class="contact">
  <i class="fab fa-facebook-f wow bounceIn" data-wow-delay=".1s"></i>
</a>

<a href="{{ site.social-medium }}" class="contact">
  <i class="fab fa-medium-m wow bounceIn"></i>
</a>
  
<a href="{{ site.social-youtube }}" class="contact">
  <i class="fab fa-youtube wow bounceIn"></i>
</a>
  
<a href="mailto:{{ site.email }}" class="contact">
  <i class="fas fa-envelope wow bounceIn" data-wow-delay=".1s"></i>
</a>
</div>
