<div class="social">
<a href="https://www.linkedin.com/" target="_blank">
  <i class="fab fa-linkedin fa-3x wow bounceIn"></i>
</a>

<a href="{{ site.social.facebook-official }}" class="contact">
  <i class="fab fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
</a>

<a href="mailto:{{ site.email }}" class="contact">
  <i class="fab fa-medium fa-3x wow bounceIn"></i>
</a>

<a href="mailto:{{ site.email }}" class="contact">
  <i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
</a>

</div>
