
<a class="no-link" href="https://medium.com/@Idan.Bassuk/automated-testing-of-deep-learning-systems-24b7ab3f8aa5">
  <h3 class="title text-left">Fundamentals of Deep Learning based 'Object Detection'</h3>
</a>  
<div class="info text-left text-muted">PyData Tel Aviv Meetup #7 (12 September 2017)</div>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/51HU2Z3J3G4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<br>
<div class="body text-left">
<p>For those of you looking for large technological and commercial opportunities to build your next product or startup, 
  I really believe that ‘Object Detection’ could be THE challenge you are looking for. </p>

<p>This technology has already proven its maturity in a number of verticals, and there are still many 
unexploited applications in several huge markets that are yet to adopt this technology. 
Applications of ‘Object Detection’ could potentially augment humans in many tasks that currently require human eyesight. 
That considered, I believe that the object detection technology will serve as a key 
component in the disruption of many areas including Healthcare, Defense & Surveillance, 
Drones, Photography, Augmented Reality, Construction and more.</p>

<p>During this talk I aim to give you a thorough review of the State-of-the-Art algorithms and share the 
recommended system-design guidelines for those of you who are interested in building your own products using this technology.</p>

<p><b>Further Motivation for the Talk: </b></p>

<p>The state-of-the-art performance of algorithms for ‘Object Detection’ in images has been continuously 
improving over the past few years (and even months), thanks to the achievements of some of the strongest 
Deep Learning teams in the world.</p>

<p>Luckily for us, most of their work has been done on “everyday images”, and there is a lot of room left 
for innovation by adapting these algorithms to new domains.</p>

<p>Furthermore, these algorithms, while complex, can be understood by mere humans like us, 
and can even be implemented and advanced.</p>
</div>
